#about {
    position: relative;
    background: var(--background-darken), url(../../assets/bg42.jpg);
    background-size: contain;
    background-repeat: repeat;
    background-position: center;

    .app__wrapper {
        padding: 0;

        .copyright {
            display: none;
        }
    }
}


.app__about {
    flex: 1;
    width: 100%;
    flex-direction: column;
}

.app__profiles {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.app__profile-item {
    width: 250px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin: 2rem;

    border-radius: var(--border-radius);
    border-style: var(--border-style);
    border-color: var(--white-color);
    border-width: var(--border-width);

    box-shadow: var(--box-shadow);
    background: var(--box-background);

    h2,
    p {
        padding: 0 1rem 1rem 1rem;
    }

    h2 {
        color: var(--secondary-color);
    }

    img {
        padding: 10px;
        width: 100%;
        height: 170px;
        border-radius: 25px;
        object-fit: cover;
    }

    &:hover {
        box-shadow: var(--box-shadow-h);
    }

    @media screen and (min-width: 2000px) {
        width: 370px;
        margin: 2rem 4rem;

        img {
            height: 320px;
        }
    }
}