#contact {
    position: relative;
    background: var(--background-darken), url(../../assets/bg42.jpg);
    background-size: contain;
    background-repeat: repeat;
    background-position: center;

    .app__wrapper {
        padding: 0;

        .copyright {
            display: none;
        }
    }
}

.app__footer {
    flex: 1;
    width: 100%;
    flex-direction: column;

    @media screen and (max-width: 768px) {
        flex-direction: column;
    }
}

.app__footer-cards {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin: 4em 2rem 2rem;
    padding: 0 2rem 0 2rem;


    .app__footer-card {
        min-width: 290px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        margin: 1rem 0;
        padding: 1rem;

        border-color: var(--lightGray-color);

        cursor: pointer;

        img {
            width: 40px;
            height: 40px;
            margin: 0 0.7rem;
        }

        p {
            font-weight: 500;
        }

        a {
            text-decoration: none;
            font-weight: 500;
        }

        &:hover {
            background: var(--background-darken);
        }

        @media screen and (max-width: 450px) {
            width: 100%;
        }
    }

    @media screen and (max-width: 768px) {
        width: 100%;
    }
}

.app__footer-form {
    width: 60%;
    flex-direction: column;
    margin: 1rem 2rem 5rem 2rem;
    padding: 1rem 0 1rem 0;


    box-shadow: var(--box-shadow);

    border-color: var(--lightGray-color) !important;

    &:hover {
        background: var(--background-darken);
    }

    div {
        width: 90%;
        margin: 0.75rem 2rem;
        cursor: pointer;

        transition: all 0.3s ease-in-out;

        box-shadow: var(--box-shadow);
        background: var(--black-color);
        border-color: var(--lightGray-color) !important;

        input,
        textarea {
            width: 100%;
            padding: 0.95rem;

            color: var(--secondary-color);

            background: transparent;
            border-color: transparent;

            font-family: var(--font-base);
            font-size: large;

            outline: none;
        }

        textarea {
            resize: none;
            height: 170px;
        }

        input::placeholder,
        textarea::placeholder {
            color: var(--lightGray-color);
            opacity: 0.75;
        }

        input:-webkit-autofill,
        input:-webkit-autofill:focus,
        textarea:-webkit-autofill,
        textarea:-webkit-autofill:focus,
        select:-webkit-autofill {
            background-color: transparent !important;
            border-color: transparent !important;
        }
    }

    button {
        padding: 1rem 2rem;

        background-color: var(--white-color);
        box-shadow: var(--box-shadow);
        border-color: var(--white-color) !important;

        font-weight: 500;
        color: var(--black-color);

        margin: 2rem 0 2rem 0;
        font-family: var(--font-base);

        transition: cubic-bezier(0.55, 0.085, 0.68, 0.53);

        cursor: pointer;

        &:disabled {
            opacity: 0.5;
        }

        &:hover {
            background-color: var(--blue-color);
            border-color: var(--blue-color) !important;
            color: var(--dark-blue-color);
        }
    }

    @media screen and (max-width: 768px) {
        width: 90%;
        margin: 1rem 0;
    }
}