#certificates {
    position: relative;
    background: var(--background-darken), url(../../assets/bg34.png);
    background-size: contain;
    background-repeat: repeat;
    background-position: center;

    .app__wrapper {
        padding: 0;

        .copyright {
            display: none;
        }
    }
}

.app__certificates {
    flex: 1;
    width: 100%;
    flex-direction: column;
}

.app__certificates-item {
    width: 75%;
    height: 75%;
    min-height: 320px;
    display: flex;
    flex-direction: column;
    padding: 2rem;

    border-radius: var(--border-radius);
    border-style: var(--border-style);
    border-color: var(--white-color);
    border-width: var(--border-width);

    box-shadow: var(--box-shadow);
    background: var(--box-background);

    margin: 2rem 0 0 0;

    transition: all 0.3s ease-in-out;

    img {
        width: 100%;
        height: 80vh;
        border-radius: 15px;
        border: 5px;
        border-style: solid;
        border-color: var(--black-color);
    }

    @media screen and (min-width: 2000px) {
        min-height: 450px;

        img {
            width: 100%;
            height: 60vh;
        }
    }

    @media screen and (max-width: 850px) {
        width: 80%;

        img {
            width: 100%;
            height: 35vh;
        }
    }

    @media screen and (max-width: 600px) {
        flex-direction: column;

        img {
            width: 100%;
            height: 35vh;
        }
    }
}

.app__certificates-content {
    flex: 1;
    text-align: left;

    width: 100%;

    display: flex;
    flex-direction: column;


    h2 {
        font-size: 2rem;
        line-height: 3rem;
        color: var(--secondary-color);
        font-family: var(--font-base);
        text-align: center;


        @media screen and (min-width: 2000px) {
            font-size: 2rem;
            line-height: 3.5rem;
        }
    }

    h4 {
        font-weight: 600;
        color: var(--white-color);
        margin-top: 1rem;
    }

    h5 {
        font-weight: 400;
        color: var(--lightGray-color);
        margin-top: 5px;
        margin-bottom: 1rem;
    }

    @media screen and (max-width: 600px) {
        margin-top: 2rem;
        padding: 0;
    }
}

.app__certificates-btns {
    flex-direction: row;
    margin-top: 1rem;
    margin-bottom: 5rem;

    div {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: var(--white-color);

        margin: 1rem;
        transition: all 0.3s ease-in-out;

        svg {
            width: 20px;
            height: 20px;
            color: var(--black-color);
        }

        &:hover {
            background-color: var(--blue-color);

            svg {
                color: var(--white-color);
            }
        }

        @media screen and (min-width: 2000px) {
            width: 100px;
            height: 100px;

            svg {
                width: 45px;
                height: 45px;
            }
        }
    }
}


.app__certificates-filter {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;

    margin: 2rem 2rem 2rem 2rem;
    padding: 0.5rem 2rem 0.5rem 2rem;

    border-color: var(--lightGray-color) !important;

    &:hover {
        background: var(--box-background);
    }

    .app__certificates-filter-item {
        text-transform: uppercase;
        padding: 0.5rem 1rem;

        border-color: var(--white-color) !important;
        background: var(--white-color);

        color: var(--black-color);
        font-weight: 800;

        cursor: pointer;
        transition: all 0.3s ease;
        margin: 0.5rem;

        &:hover {
            background-color: var(--secondary-color);
            border-color: var(--secondary-color) !important;
        }

        @media screen and (min-width: 2000px) {
            padding: 1rem 2rem;
            border-radius: 0.85rem;
        }
    }

    .item-active {
        background-color: var(--blue-color);
        border-color: var(--blue-color) !important;
        color: var(--dark-blue-color);
    }
}