.app {
    background-color: var(--primary-color);
    font-family: var(--font-base);
}

.app__whitebg {
    background-color: var(--black-color);
}

.app__primarybg {
    background-color: var(--brown-color);
}

.app__container {
    width: 100%;
    min-height: 100vh;
    // align-items: center;

    display: flex;
    flex-direction: row;
}

.app__flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.app__wrapper {
    flex: 1;
    width: 100%;
    flex-direction: column;
    padding: 4rem 2rem;

    @media screen and (max-width: 450px) {
        padding: 4rem 1rem 2rem;
    }
}

.copyright {
    width: 100%;
    padding: 2rem 0 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;

    p {
        text-transform: uppercase;
        color: var(--black-color);
    }
}

.head-text {
    font-size: 2.75rem;
    font-weight: 800;
    text-align: center;
    color: var(--white-color);
    text-transform: capitalize;

    span {
        color: var(--secondary-color);
    }

    @media screen and (min-width: 2000px) {
        font-size: 4rem;
    }

    @media screen and (max-width: 450px) {
        font-size: 2rem;
    }
}

.p-text {
    font-size: 0.8rem;
    text-align: left;
    color: var(--white-color);
    line-height: 1.5;

    @media screen and (min-width: 2000px) {
        font-size: 1.75rem;
    }
}

.p-text-small {
    font-size: 0.65rem;
    text-align: left;
    color: var(--blue-color);

    line-height: 1.5;

    @media screen and (min-width: 2000px) {
        font-size: 1.6rem;
    }
}

.bold-text {
    font-size: 1.1rem;
    font-weight: bolder;
    color: var(--white-color);
    text-align: center;

    @media screen and (min-width: 2000px) {
        font-size: 2rem;
    }

    @media screen and (max-width: 450px) {
        font-size: 0.9rem;
    }
}

.head-text-decoration {
    text-decoration-color: var(--secondary-color);
    text-decoration-line: overline;
    text-decoration-thickness: from-font;
}

.app__social {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    padding: 1rem;
    margin-top: 5rem;

    div {
        width: 45px;
        height: 45px;
        border-radius: 40%;
        background-color: var(--white-color);
        margin: 0.25rem 0;

        display: flex;
        justify-content: center;
        align-items: center;

        transition: all 0.3s ease-in-out;

        svg {
            width: 25px;
            height: 25px;
            margin-top: 3px;
            color: var(--black-color);
        }

        &:hover {
            background-color: var(--black-color);

            svg {
                color: var(--white-color);
            }
        }

        @media screen and (min-width: 2000px) {
            width: 70px;
            height: 70px;

            margin: 0.5rem 0;

            svg {
                width: 30px;
                height: 30px;
            }
        }
    }
}

.app__navigation {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    padding: 1rem;
    margin-top: 5rem;

    .app__navigation-dot {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #cbcbcb;
        margin: 0.5rem;

        transition: background-color 0.2s ease-in-out;

        &:hover {
            background-color: var(--secondary-color);
        }

        @media screen and (min-width: 2000px) {
            width: 20px;
            height: 20px;
        }
    }
}

.app__header-text {
    padding: 1rem 2rem;

    flex-direction: row;
    width: auto;

    margin: 5rem 3rem 0 3rem;

    // border-style: var(--border-style);
    // border-radius: var(--border-radius);
    // border-color: var(--white-color);
    // border-width: var(--border-width);

    // box-shadow: var(--box-shadow);
    // background: var(--box-background);

    h2 {
        text-transform: uppercase;
        text-decoration: overline;
    }
}

@media screen and (max-width: 650px) {

    .app__navigation,
    .app__social {
        display: none;
    }

    .copyright {
        padding: 2rem;
    }
}


.app__tooltip {
    max-width: 300px !important;
    background-color: rgba(0, 0, 0, 0.9) !important;

    box-shadow: var(--box-shadow) !important;

    border-radius: var(--border-radius) !important;
    border-color: var(--white-color) !important;
    border-width: var(--border-width);
    border-style: groove !important;

    padding: 0.5rem !important;
    color: var(--white-color) !important;
    text-align: center !important;
    line-height: 1.5 !important;
    opacity: 1;


    @media screen and (min-width: 2000px) {
        font-size: 1.75rem !important;
        max-width: 500px !important;
        line-height: 2 !important;
    }
}

.app__card {
    width: 280px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin: 2rem;
    padding: 0.5rem;
    

    h2,
    p {
        padding: 0 1rem 0 1rem;
    }

    h2 {
        margin-top:20px;
        color: var(--secondary-color);
    }

    p {
        margin-bottom: 10px;
    }

    img {
        width: 90%;
        height: 170px;
        margin-top: 10px;

        border: 4px var(--border-style) var(--secondary-color);
        border-radius: var(--border-radius);
        object-fit: fill;
    }

    &:hover {
        box-shadow: var(--box-shadow);
        background: var(--box-background);
    }

    @media screen and (min-width: 2000px) {
        width: 370px;
        margin: 2rem 4rem;

        img {
            height: 320px;
        }
    }
}


.curvy-border {
    border:solid 5px var(--black-color);
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}

.make-unselectable {
    -webkit-user-drag: none;
    user-drag: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}