@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

:root {
    --font-base: "DM Sans", sans-serif;

    --primary-color: #edf2f8;
    --secondary-color: #dba334;
    --black-color: #030303;
    --lightGray-color: #e4e4e4;
    --gray-color: #6b7688;
    --brown-color: #46364a;
    --white-color: #ffffff;
    --highlight-color: #ffffff;
    --blue-color: #1071f1;

    --box-shadow:0 0 20px rgba(0, 0, 0, 0.25);
    --box-shadow-h: 0 0 25px var(--highlight-color);
    --box-background: rgba(0, 0, 0, 0.5);

    --border-radius: 10px;
    --border-style: solid;
    --border-width: 2px;
    --border-color: var(--white-color);

    --background-darken: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

*::-webkit-scrollbar {
    display: none;
}