#work {
    position: relative;
    background: var(--background-darken), url(../../assets/bg34.png);
    background-size: contain;
    background-repeat: repeat;
    background-position: center;

    .app__wrapper {
        padding: 0;

        .copyright {
            display: none;
        }
    }
}

.app__works {
    flex: 1;
    width: 100%;
    flex-direction: column;
}

.app__work-filter {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;

    margin: 2rem 2rem 2rem 2rem;
    padding: 0.5rem 2rem 0.5rem 2rem;

    border-radius: var(--border-radius);
    border-style: var(--border-style);
    border-color: var(--white-color);
    border-width: var(--border-width);

    box-shadow: var(--box-shadow);
    background: var(--box-background);

    .app__work-filter-item {
        text-transform: uppercase;

        padding: 0.5rem 1rem;
        border-radius: 0.5rem;

        border-radius: 10px;
        background: rgba(255, 255, 255, 0.75);

        color: var(--black-color);
        font-weight: 800;

        cursor: pointer;
        transition: all 0.3s ease;
        margin: 0.5rem;

        &:hover {
            background-color: var(--blue-color);
            color: #fff;
        }

        @media screen and (min-width: 2000px) {
            padding: 1rem 2rem;
            border-radius: 0.85rem;
        }
    }

    .item-active {
        background-color: var(--blue-color);
        color: #fff;
    }
}

.app__work-portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;

    .app__work-item {
        width: 270px;
        flex-direction: column;

        margin: 2rem;
        padding: 1rem;

        border-radius: var(--border-radius);
        border-style: var(--border-style);
        border-color: var(--white-color);
        border-width: var(--border-width);

        box-shadow: var(--box-shadow);
        background: var(--box-background);

        // color: #000;

        cursor: pointer;

        &:hover {
            box-shadow: 0 0 15px var(--highlight-color);
        }

        @media screen and (min-width: 2000px) {
            width: 470px;
            padding: 1.25rem;
            border-radius: 0.75rem;
        }

        @media screen and (max-width: 300px) {
            width: 100%;
            margin: 1rem;
        }
    }
}

.app__work-img {
    width: 100%;
    height: 230px;

    position: relative;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    @media screen and (min-width: 2000px) {
        height: 350px;
    }
}

.app__work-hover {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    width: 100%;

    a {
        width: 35px;
        height: 35px;

        margin: 1rem;
        font-family: var(--font-base);

        cursor: pointer;

        svg {
            width: 100%;
            height: 100%;

            color: var(--white-color);

            &:hover{
                color: var(--blue-color);
            }
        }
    }
}

.app__work-content {
    padding: 0.5rem;
    width: 100%;
    position: relative;
    flex-direction: column;

    h2 {
        line-height: 1.5;

        color: var(--secondary-color);

        @media screen and (min-width: 2000px) {
            margin-top: 3rem;
        }
    }
}